/* STYLING THE LANDING PAGE */
.landingPage {
  padding-top: 3rem;
  gap: 2rem;
  display: flex;
  padding-inline: 1rem;
  margin-block-end: 5rem;
}

.map-container {
  width: 50%;
}

.iframe {
  inline-size: 100%;
}

.searchingPage {
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 1);
  inline-size: 50%;
}

.searchingPage h1 {
  max-width: 300px;
}

.searchingPage p {
  max-width: 400px;
  margin-block-end: 1rem;
}

.searchingPage form {
  background-color: #1f1f1f;
  padding: 30px 15px;
  border-radius: 15px;
}

.searchingPage form label {
  display: block;
  margin-block-end: 5px;
}

.searchingPage form input {
  display: block;
  margin-block-end: 5px;
  border-radius: 25px;
  border: none;
  padding: 11px;
  width: 19rem;
}

.inputField .btn {
  border-radius: 25px;
  padding: 11px;
  margin-block-start: -5px;
}

.landingpage-input {
  width: 100%;
  font-size: 1.2rem;
  padding: 20px;
  margin-bottom: 20px;
  border: 3px solid #4a4848;
}

form:has(input:focus) {
  background-color: #4a4848;
  border-color: rgb(51, 52, 53);
}

.inputField {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.searchingPage a {
  color: #fff;
  cursor: pointer;
}

@media (max-width: 820px) {
  .landingPage {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .searchingPage {
    display: flex;
    width: inherit;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .inputField {
    display: grid;
  }

  .searchingPage form label {
    margin-block-end: 1rem;
  }
  .inputField .btn {
    display: flex;
    margin: 0 auto;
  }

  .map-container {
    width: 100%;
    margin-block-end: 3rem;
  }

  .iframe {
    inline-size: 100%;
  }
}
