.add-hospital-container {
  padding-top: 7rem;
  background-color: #1f1f1f;
  margin-block-end: 5rem;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main span {
  display: flex;
  gap: 1rem;
}
