.hospital-list-map-container {
  width: 100%;
  padding-top: 3rem;
  margin-block-end: 5rem;
}

.hospital-list-iframe {
  inline-size: 100%;
  height: auto;
}

.no-of-hospitals-found {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.hospitals-found-logos {
  display: flex;
  gap: 1rem;
}
.filter-hospital-result,
.share-hospital-search-result,
.download-hospital-details {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 1s ease-in;
}

.filter-hospital-result:hover,
.share-hospital-search-result:hover,
.download-hospital-details:hover {
  border-color: blue;
}

.single-hospital-wrapper {
  display: grid;
  grid-template-columns: 211px 1fr;
  inline-size: 1100px;
  height: 200px;
  margin-block-end: 2.5rem;
}

.hospital-image-container {
  height: 100%;
}

.hospital-image {
  inline-size: 169px;
  height: 100%;
  width: 211px;
  border-radius: 10px;
}

.single-hospital-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.hospital-name {
  width: fit-content;
  cursor: pointer;
  margin-block-end: 1rem;
}

.hospital-name:hover {
  color: blue;
}

.hospital-socials {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  margin-block-start: 0.5rem;
}

.hospital-intro {
  max-width: 797px;
  text-wrap: balance;
  margin-block-end: 4rem;
}

@media (max-width: 820px) {
  .single-hospital-wrapper {
    display: grid;
    grid-template-columns: 169px 1fr;
    inline-size: 28rem;
    height: 240px;
    padding: 1rem;
  }

  .hospital-image-container {
    height: 100%;
  }
  .hospital-image {
    inline-size: 169px;
    height: 100%;
    width: 9rem;
    border-radius: 10px;
  }

  .hospital-intro {
    width: 11.5rem;
    text-wrap: balance;
    margin-block-start: 1px;
    margin-block-end: 5px;
  }

  .hospital-intro,
  .hospital-name,
  .hospital-socials,
  .hospital-proximity {
    margin-inline-start: -20px;
  }
}
