.signup-form {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  padding-top: 180px;
}

.signup-carefinder-logo {
  display: flex;
  margin: 0 auto;
}

.signup-careFinder-logo {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.signup-form p {
  margin-block-end: 1rem;
}

.signup-input-container {
  height: fit-content;
  width: 100%;
  padding-inline: 2rem;
}

.signup-input {
  height: 40px;
  width: 100%;
  padding-left: 20px;
  border-radius: 20px;
  border: none;
  resize: vertical;
  margin-block-end: 1rem;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.signup-input-btn {
  width: 100%;
  border-radius: 20px;
  border: none;
  resize: vertical;
  margin-block-end: 1rem;
  align-items: center;
  padding: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.303);
}

.signup-input-btn:hover {
  background-color: rgba(128, 128, 128, 0.397);
}

.signup-btn {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: blue;
  margin-block-end: 1.5rem;
  cursor: pointer;
}

.password-input {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 4%;
  top: 25%;
  color: #000;
}

.alternative-signIn-option {
  display: flex;
  text-decoration: none;
  color: gray;
}
.alternative-signIn-option:hover {
  font-weight: bolder;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.signIn-extras {
  margin-block-start: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 2rem;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 3rem;
  margin-block-start: 3rem;
}

.forgot-password-header {
  margin-block-end: 3rem;
}

.forgot-password-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup-form .link {
  text-decoration: none;
}

.signup-form .link:hover {
  font-weight: bold;
  transition: 0.5s ease-in;
}

.autho-btn {
  border-radius: 25px;
  width: 50%;
  height: 40px;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: blue;
  margin-block-end: 1.5rem;
  cursor: pointer;
}

.autho-btn:hover {
  transition: 0.3s ease-in-out;
  background-color: rgb(4, 4, 198);
}

@media (max-width: 820px) {
  .signup-input {
    width: 100%;
    display: grid;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    resize: vertical;
    margin-block-end: 1rem;
  }
  .signup-form p {
    word-wrap: break-word;
    text-align: center;
  }
}
